0 */6 * * * /usr/bin/rclone move /mnt/secrets-local secrets: --config /home/dorebell/config/rclone/rclone.conf --log-file /opt/rclone/logs/upload.log --log-level INFO --delete-empty-src-dirs --fast-list --min-age 6h 
