[Unit]
Description=Gmedia RClone Mount Service
After=network-online.target

[Service]
Type=notify
ExecStart=/usr/bin/rclone mount \
  --config=/home/dorebell/.config/rclone/rclone.conf \
  --log-level=INFO \
  --log-file=/opt/rclone/logs/rclone-mount.log \
  --user-agent=rclone_gnome \
  --umask=002 \
  --gid=1002 \
  --uid=1000 \
  --allow-other \
  --timeout=1h \
  --poll-interval=15s \
  --dir-cache-time=1000h \
  --cache-dir=/opt/rclone/cache/secrets \
  --vfs-cache-mode=full \
  --vfs-cache-max-size=100G \
  --vfs-cache-max-age=48h \
  secrets: ~/secrets
ExecStop=/bin/fusermount -uz ~/secrets
Restart=on-abort
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
